<!DOCTYPE html>
<html id="ng-app" ng-app="app">
<!-- id="ng-app" IE<8 -->

<head>
  <title>Upload center</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />

  <!-- Fix for old browsers -->
  <script src="jquery-1.8.3.min.js"></script>

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

  <!--<script src="../bower_components/angular/angular.js"></script>-->
  <script src="angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.js"></script>
  <script src="angular-file-upload.min.js"></script>
  <script src="controllers.js"></script>
  <script src="sweetalert.min.js"></script>

  <style>
    .my-drop-zone {
      border: dotted 3px lightgray;
    }

    .nv-file-over {
      border: dotted 3px red;
    }

    /* Default class applied to drop zones on over */

    .another-file-over-class {
      border: dotted 3px green;
    }

    html,
    body {
      height: 100%;
    }
  </style>

</head>

<!-- 1. nv-file-drop | nv-file-drop="options" -->

<body ng-controller="TestController" nv-file-drop uploader="uploader">

  <div class="container">

    <div class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="https://github.com/phamhuyhoang95/cloudinary-images-api">Upload Storage Service - Cloudinary</a>
      </div>
    </div>


    <div class="row">

      <div class="col-md-3">

        <img ng-src="{{image}}"> </img>

        <h3>Select files</h3>

        <div ng-show="uploader.isHTML5">
          <!-- 3. nv-file-over | nv-file-over="className" -->
          <div class="well my-drop-zone" nv-file-over uploader="uploader">
            Base drop zone
          </div>

          <!-- Example: nv-file-drop | nv-file-drop="options" -->
          <div class="well my-drop-zone" nv-file-drop="{ url: '/foo' } " nv-file-over="another-file-over-class" uploader="uploader">
            Another drop zone with its own settings
          </div>
        </div>

        <!-- 2. nv-file-select | nv-file-select="options" -->
        Multiple
        <input nv-file-select uploader="uploader" type="file" multiple/>
        <br/> Single
        <input nv-file-select uploader="uploader" type="file" />
      </div>
      <div class="col-md-9" style="margin-bottom: 40px">
        <h3>Select Container to upload</h3>
        <select class="form-control" ng-options="container_name for container_name  in listContainer" ng-model="container_name" ng-change="change_container(container_name)"></select>
        <div class="form-group">
          <label for="category">Category</label>
          <input type="text" required name="category" ng-model="current_container" class="form-control col-md-5" />
        </div>
        <label for="tags">Image Tags</label>
        <input name="tags" required class="form-control col-md-5" ng-model="tags" type="text" />
        <h3>Upload queue</h3>

        <p>Queue length: {{ uploader.queue.length }}</p>

        <table class="table">
          <thead>
            <tr>
              <th width="50%">Name</th>
              <th ng-show="uploader.isHTML5">Size</th>
              <th ng-show="uploader.isHTML5">Progress</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in uploader.queue">
              <td>
                <strong>{{ item.file.name }}</strong>
              </td>
              <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB
              </td>
              <td ng-show="uploader.isHTML5">
                <div class="progress" style="margin-bottom: 0;">
                  <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                </div>
              </td>
              <td class="text-center">
                <span ng-show="item.isSuccess">
                  <i class="glyphicon glyphicon-ok"></i>
                </span>
                <span ng-show="item.isCancel">
                  <i class="glyphicon glyphicon-ban-circle"></i>
                </span>
                <span ng-show="item.isError">
                  <i class="glyphicon glyphicon-remove"></i>
                </span>
              </td>
              <td nowrap>
                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                  <span class="glyphicon glyphicon-upload"></span>
                  Upload
                </button>
                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                  <span class="glyphicon glyphicon-ban-circle"></span>
                  Cancel
                </button>
                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                  <span class="glyphicon glyphicon-trash"></span>
                  Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <div>
          <p>
            Queue progress:

            <div class="progress" style="">
              <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
            </div>
          </p>
          <button type="button" class="btn btn-success btn-s" ng-click="uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
            <span class="glyphicon glyphicon-upload"></span> Upload all
          </button>
          <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
          </button>
          <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
            <span class="glyphicon glyphicon-trash"></span> Clean all
          </button>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-12" style="margin-bottom: 40px" ng-controller="FilesController" data-ng-init="load()">
        <div ng-repeat="container in container_data">
          <h3>Files in the {{container.container_name}}</h3>

          <table class="table">

            <tbody>
              <tr ng-repeat="file in container.files" style="display: inline-block">
                <td>
                  <img ng-src="https://images.weserv.nl/?url={{file.url.replace('http://', '')}}&w=150&h=150" width="150" height="150" />

                  <!-- <strong>{{ file.public_id }}</strong> -->
                  </a>
                </td>
                <td>
                  <td>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="delete($index, file.public_id, $parent.$index)" title="Delete the file">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <button type="button" class="btn btn-success btn-xs" ng-click="edit(file)" title="Edit image">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <a  target="_blank" href="{{file.url}}">
                      <button type="button" class="btn btn-success btn-xs" title="Edit image">
                        <span class="glyphicon glyphicon-resize-full"></span>
                      </button>
                    </a>


                  </td>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit image metadata</h4>
              </div>
              <div class="modal-body">

                <div class="form-group">
                  <label for="category_name">Category name</label>
                  <input type="text" ng-model="selectedImg.category_name" class="form-control" />
                </div>
                <div class="form-group">
                  <label for="tags">Tags</label>
                  <input type="text" ng-model="selectedImg.tags" class="form-control" />
                </div>
                <div class="form-group">
                  <label class="form-group">
                    <label for="featureImage">isFeatureImage</label>
                    <input type="checkbox" ng-model="selectedImg.isFeatureImage" class="form-control" />
                  </label>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" ng-click="saveChange()">Save</button>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
</body>

</html>